/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 12, ../../../app/stylesheets/partials/_base.sass */
html, body {
  height: 100%; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 53, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 58, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp h1 img {
      margin: 0; }
  /* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 64, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 69, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 74, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 79, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  /* line 83, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  /* line 85, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp p {
    margin: 0 0 1.5em; }
    /* line 87, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 91, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 95, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:visited {
      color: #000066; }
    /* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:focus {
      color: black; }
    /* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:hover {
      color: black; }
    /* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:active {
      color: #cc0099; }
  /* line 98, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 102, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp strong {
    font-weight: bold; }
  /* line 104, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp em {
    font-style: italic; }
  /* line 106, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 109, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp sup, body.bp sub {
    line-height: 0; }
  /* line 111, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  /* line 113, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp del {
    color: #666; }
  /* line 118, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 121, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 123, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  /* line 125, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 128, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 131, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dl {
    margin: 0 0 1.5em 0; }
    /* line 133, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp dl dt {
      font-weight: bold; }
  /* line 135, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dd {
    margin-left: 1.5em; }
  /* line 137, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 140, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th {
    font-weight: bold; }
  /* line 142, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp thead th {
    background: #c3d9ff; }
  /* line 144, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th, body.bp td, body.bp caption {
    padding: 4px 10px 4px 5px; }
  /* line 146, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tr.even td {
    background: #e5ecf9; }
  /* line 148, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tfoot {
    font-style: italic; }
  /* line 150, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp caption {
    background: #eee; }
  /* line 152, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .quiet {
    color: #666666; }
  /* line 154, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .loud {
    color: #111111; }

/* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }
/* line 39, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }
/* line 42, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }
/* line 44, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }
/* line 46, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 18, ../../../app/stylesheets/screen.sass */
body.bp {
  background-color: #f4f4f4; }
  /* line 9, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .clear {
    clear: both; }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .nowrap {
    white-space: nowrap; }
  /* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .clearfix {
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.bp .clearfix {
      display: block; }
  /* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  /* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  /* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .first {
    margin-left: 0;
    padding-left: 0; }
  /* line 29, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .last {
    margin-right: 0;
    padding-right: 0; }
  /* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .top {
    margin-top: 0;
    padding-top: 0; }
  /* line 35, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  /* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
  body.bp .showgrid {
    background: url('/images/grid.png?1262608705'); }
  /* line 5, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    /* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.bp .error a {
      color: #8a1f11; }
  /* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    /* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.bp .notice a {
      color: #514721; }
  /* line 9, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    /* line 46, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.bp .success a {
      color: #264409; }
  /* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .hide {
    display: none; }
  /* line 13, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .highlight {
    background: yellow; }
  /* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .added {
    background: #006600;
    color: white; }
  /* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .removed {
    background: #990000;
    color: white; }
  /* line 78, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_fancy_type.sass */
  body.bp p + p {
    text-indent: 2em;
    margin-top: -1.5em;
    /* Don't want this in forms. */ }
    /* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_fancy_type.sass */
    form body.bp p + p {
      text-indent: 0; }
  /* line 80, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_fancy_type.sass */
  body.bp p.incr,
  body.bp .incr p {
    font-size: 0.833em;
    line-height: 1.44em;
    margin-bottom: 1.5em; }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_fancy_type.sass */
  body.bp .caps {
    font-variant: small-caps;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size: 1.2em;
    line-height: 1%;
    font-weight: bold;
    padding: 0 2px; }
  /* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_fancy_type.sass */
  body.bp .dquo {
    margin-left: -!offset; }
  /* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_fancy_type.sass */
  body.bp .alt {
    color: #666;
    font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
    font-style: italic;
    font-weight: normal; }

/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp label {
  font-weight: bold; }
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.title {
  font-size: 1.5em; }
/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp select {
  margin: 0.5em 0; }
/* line 48, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title,
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form.bp input.text:focus, form.bp input.title:focus,
  form.bp textarea:focus,
  form.bp select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title {
  width: 300px; }
/* line 43, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px; }
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp label {
  font-weight: bold; }
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.title {
  font-size: 1.5em; }
/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp select {
  margin: 0.5em 0; }
/* line 30, ../../../app/stylesheets/screen.sass */
form.bp dd {
  margin-left: 0; }
/* line 32, ../../../app/stylesheets/screen.sass */
form.bp dl {
  margin-bottom: 1em; }

/* line 37, ../../../app/stylesheets/screen.sass */
body.one-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.one-col #container {
    display: block; }
/* line 39, ../../../app/stylesheets/screen.sass */
body.one-col #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px; }
  /* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.one-col #content {
    overflow-x: hidden; }
  /* line 42, ../../../app/stylesheets/screen.sass */
  body.one-col #content footer {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px; }
    /* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.one-col #content footer {
      overflow-x: hidden; }

/* line 1, ../../../app/stylesheets/partials/_top_header.sass */
#top {
  display: block;
  position: relative;
  height: 2em;
  margin-bottom: 3.5em;
  border-bottom: 1px solid #949494;
  background-color: #80adc7; }
  /* line 12, ../../../app/stylesheets/partials/_top_header.sass */
  #top #segmented-controls {
    position: absolute;
    width: 100%;
    top: 1em;
    text-align: center;
    font-size: 1.2em; }
    /* line 19, ../../../app/stylesheets/partials/_top_header.sass */
    #top #segmented-controls .wrapper {
      -webkit-box-shadow: 0 0.3em 0.3em #bbb;
      -moz-box-shadow: 0 0.3em 0.3em #bbb; }
    /* line 22, ../../../app/stylesheets/partials/_top_header.sass */
    #top #segmented-controls .clickable {
      padding: 0.3em 0.6em;
      color: #373737;
      text-shadow: 0 1px 1px #f7f7f7;
      border-color: #949494;
      border-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-right-width: 1px; }
      /* line 32, ../../../app/stylesheets/partials/_top_header.sass */
      #top #segmented-controls .clickable:first-child {
        border-left-width: 1px;
        -moz-border-radius-topleft: 0.3em;
        -moz-border-radius-bottomleft: 0.3em;
        -webkit-border-top-left-radius: 0.3em;
        -webkit-border-bottom-left-radius: 0.3em; }
      /* line 41, ../../../app/stylesheets/partials/_top_header.sass */
      #top #segmented-controls .clickable:last-child {
        -moz-border-radius-topright: 0.3em;
        -moz-border-radius-bottomright: 0.3em;
        -webkit-border-top-right-radius: 0.3em;
        -webkit-border-bottom-right-radius: 0.3em; }
    /* line 48, ../../../app/stylesheets/partials/_top_header.sass */
    #top #segmented-controls a.clickable {
      background-color: #ddd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#cacaca));
      text-decoration: none; }
    /* line 53, ../../../app/stylesheets/partials/_top_header.sass */
    #top #segmented-controls span.clickable {
      background-color: #9bc5dd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#80adc7), color-stop(0.05, #bce2f8)); }

/* line 1, ../../../app/stylesheets/partials/_flash.sass */
.flash_wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  padding-right: 480px; }
  /* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .flash_wrapper {
    overflow-x: hidden; }

/* line 4, ../../../app/stylesheets/partials/_flash.sass */
#flash_success, #flash_failure {
  padding: 0 0.5em;
  border-width: 1px;
  border-style: solid; }

/* line 9, ../../../app/stylesheets/partials/_flash.sass */
#flash_success {
  background-color: #cfc;
  border-color: #6c6; }

/* line 12, ../../../app/stylesheets/partials/_flash.sass */
#flash_failure {
  background-color: #fcc;
  border-color: #c66; }

/* line 1, ../../../app/stylesheets/partials/_search_form.sass */
#search {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0; }
  /* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #search {
    overflow-x: hidden; }
  /* line 4, ../../../app/stylesheets/partials/_search_form.sass */
  #search input {
    width: 938px; }

/* line 2, ../../../app/stylesheets/partials/_data_grid.sass */
body.bp .data-grid {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0; }
  /* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.bp .data-grid {
    overflow-x: hidden; }
  /* line 8, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid thead tr th {
    line-height: 1.3;
    border-top: 1px solid #949494;
    text-shadow: 0 1px 1px #f7f7f7;
    background-color: #a0cae2;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#cacaca)); }
    /* line 15, ../../../app/stylesheets/partials/_data_grid.sass */
    body.bp .data-grid thead tr th:first-child {
      border-left: 1px solid #949494; }
    /* line 17, ../../../app/stylesheets/partials/_data_grid.sass */
    body.bp .data-grid thead tr th:last-child {
      border-right: 1px solid #949494; }
  /* line 22, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody tr.even td {
    background-color: #eaeaea; }
  /* line 24, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td {
    border-top: 1px solid #949494;
    border-right: 1px solid #949494; }
    /* line 28, ../../../app/stylesheets/partials/_data_grid.sass */
    body.bp .data-grid tbody td:first-child {
      border-left: 1px solid #949494; }
    /* line 30, ../../../app/stylesheets/partials/_data_grid.sass */
    body.bp .data-grid tbody td a {
      color: #333; }
  /* line 33, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody tr:last-child td {
    border-bottom: 1px solid #949494; }
  /* line 37, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(1) {
    width: 30px; }
  /* line 40, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(2) {
    width: 150px; }
  /* line 43, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(3) {
    width: 110px; }
  /* line 46, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(4) {
    width: 110px; }
  /* line 49, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(5) {
    width: 70px; }
  /* line 52, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(6) {
    width: 110px; }
  /* line 55, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(7) {
    width: 150px; }
  /* line 58, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tbody td:nth-child(8) {
    width: 110px;
    margin-right: 0; }
  /* line 63, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid tfoot td {
    font-weight: bold;
    font-style: normal; }
  /* line 68, ../../../app/stylesheets/partials/_data_grid.sass */
  body.bp .data-grid td.currency {
    text-align: right; }

/* line 4, ../../../app/stylesheets/partials/_autocomplete.sass */
body.bp .ac_results {
  padding: 0;
  border: 1px solid #999;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999; }
  /* line 11, ../../../app/stylesheets/partials/_autocomplete.sass */
  body.bp .ac_results ul {
    width: 100%;
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0; }
  /* line 17, ../../../app/stylesheets/partials/_autocomplete.sass */
  body.bp .ac_results li {
    margin: 0;
    padding: 0.2em 0.4em;
    cursor: default;
    display: block;
    overflow: hidden; }
/* line 24, ../../../app/stylesheets/partials/_autocomplete.sass */
body.bp .ac_over {
  background-color: #f2f2f2; }
/* line 27, ../../../app/stylesheets/partials/_autocomplete.sass */
body.bp .labeled {
  color: #eee; }

/* line 2, ../../../app/stylesheets/partials/_button.sass */
body.bp .button {
  display: inline-block;
  padding: 4px 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: rgb(153, 153, 153) solid 1px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221))); }
/* line 14, ../../../app/stylesheets/partials/_button.sass */
body.bp .button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); }
/* line 17, ../../../app/stylesheets/partials/_button.sass */
body.bp .button, body.bp a.button {
  color: #333; }
/* line 20, ../../../app/stylesheets/partials/_button.sass */
body.bp a.button {
  text-decoration: none;
  margin-right: 1em; }
/* line 24, ../../../app/stylesheets/partials/_button.sass */
body.bp a.button:last-child {
  margin-right: 0; }
