- title "Edit Transaction"

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to("Create a new account", new_account_path)
      %li= link_to("Create a new contact", new_contact_path)

#block-tables.block
  .content
    %h2.title Edit transaction
    .inner
      = render :partial => "form"

