- title "Welcome to Bookkeeper", false
%h1 Welcome
%article
  %p.large
    Bookkeeper is a minimal accounting application.
  %p.large
    Browse #{link_to "features", "/features.html"}, #{link_to "specs", "/specs.html"}, or #{link_to "source files", "http://github.com/snl/bookkeeper"}.
