- title "Bookkeeper", false

%article
  %p.large
    Bookkeeper is a minimal bookkeeping and accounting application.
  %p.large
    Browse #{link_to "features", "/features.html"}, #{link_to "specs", "/specs.html"}, or #{link_to "source files", "http://github.com/snl/bookkeeper"}.
