table
  :width 100%
  .currency
    text-align: right
th
  :background-color #ccc
  :font-weight bold
td
  :padding
    :top 4px
    :bottom 4px
  :font-size 0.875em
tr.even
  td
    :background-color #eaeaea