// Colors
!headline_color = #f66
!headline_bg_color = #c00
!nav_color = #ccc
!nav_bg_color = #000
!main_color = #000
!main_bg_color = #fff
!footer_color = #999
!footer_bg_color = #eee

// Some defaults
*
  margin: 0
header, footer, nav, section, article
  display: block
body
  font:
    family: Helvetica, Arial
    size: 20px
a
  img
    border: none
.clear
  clear: both
  height: 0
  overflow: hidden
.highlight
  background-color: #ffd
.large
  font-size: 1.25em
.small
  font-size: 0.8em
.smaller
  font-size: 0.7em
.fieldWithErrors
  display: inline

// Headline
.headline
  position: relative
  padding: 12px 48px 3px
  background-color = !headline_bg_color
  h1
    color = !headline_color
    font:
      size: 3em
      weight: normal
    a
      color = !headline_color
      text-decoration: none
  
  // Navigation bar
  nav
    position: absolute
    bottom: 0
    right: 18px
    padding: 6px 15px
    background-color = !nav_bg_color
    -moz-border-radius-topleft: 6px
    -moz-border-radius-topright: 6px
    -webkit-border-top-left-radius: 6px
    -webkit-border-top-right-radius: 6px
    a
      color = !nav_color
      margin-right: 6px
      padding: 6px 4px
      text-decoration: none
    .current
      color = !nav_color - #333
      margin-right: 6px
      padding: 6px 4px

// Main
.main
  padding: 48px
  color = !main_color
  background-color = !main_bg_color
  h1
    margin-bottom: 30px
    font-size: 1.6em
    font-weight: normal
    span
      border-bottom: 1px solid
  p
    margin-bottom: 12px
  a
    color: #57558d
  footer
    margin-top: 36px
    a
      margin-right: 12px
      padding: 6px 12px
      color: #2175b6
      background-color: #eee
      text-decoration: none
      -moz-border-radius: 6px
      -webkit-border-radius: 6px
  .pagination
    margin: 12px 0 0 6px

// Search form
form.search
  margin-bottom: 12px
  fieldset
    padding: 0 0 12px 0
    border: none
  label
    margin-right: 3px
  ul
    list-style: none
    padding: 0
  li
    display: inline
    margin-left: 12px
  li:first-child
    margin-left: 0
  input[type="text"]
    width: 200px
  
//Cart of pending matches
.cart
  margin-bottom: 36px
  
// Footer
.footer
  padding: 12px 48px
  color= !footer_color
  background-color = !footer_bg_color

// Flash messages
=flash_mixin
  padding: 9px 48px
  color: #000
#flash_notice
  +flash_mixin
  background-color: #cfc
  border-bottom: dashed 1px #6C6
#flash_error
  +flash_mixin
  background-color: #fcc
  border-bottom: dashed 1px #C66

// Error element in forms
#errorExplanation
  width: 400px
  border: 2px solid #cf0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 8px

  ul
    margin: 2px 24px

    li
      font-size: 12px
      list-style: disc

// Tables
table
  border-collapse: collapse
  a
    margin-right: 9px
    &:last-child
      margin-right: 0
  &.data
    tr
      &.even
        background-color: #f4f4f4
      &:first-child
        &:hover
          background-color: inherit
    td
      vertical-align: top
    td.currency
      text-align: right
    td, th
      border: 1px solid #ddd
      padding: 9px
      text-align: left
    tfoot
      font-weight: bold
      border: 1px solid #eee