// Colors
!color = #475159
!bg_color = #ddd
!headline_color = #eee
!headline_bg_color = #555
!nav_color = #f2f2f2
!nav_bg_color = #333
!main_color = #000
!main_bg_color = #f2f2f2

// Mixins
=large-font
  font-size: 1.25em
=small-font
  font-size: 0.8em
=smaller-font
  font-size: 0.7em

// Some resetting
*
  margin: 0
body, html
  height: 100%
body
  font:
    family: Helvetica, Arial
    size: 20px
  color = !color
  background-color = !bg_color
a
  img
    border: none
.clear
  clear: both
  height: 0
  overflow: hidden
.highlight
  background-color: #ffc
.underline
  text-decoration: underline
.large
  +large-font
.small
  +small-font
.smaller
  +smaller-font
.fieldWithErrors
  display: inline

// Header
#header
  position: relative
  padding: 0.8em 3em 0.2em
  background-color = !headline_bg_color
  h1
    color = !headline_color
    font:
      size: 2.8em
      weight: normal
    a
      color = !headline_color
      text-decoration: none
  
// Navigation
#nav
  position: absolute
  bottom: 0
  right: 1.5em
  +small-font
  padding: 0.4em 1em
  background-color = !nav_bg_color
  -moz-border-radius-topleft: 6px
  -moz-border-radius-topright: 6px
  -webkit-border-top-left-radius: 6px
  -webkit-border-top-right-radius: 6px
  a
    color = !nav_color
    margin-right: 6px
    padding: 6px 3px
    text-decoration: none
  .current
    color = !nav_color - #444
    margin-right: 6px
    padding: 6px 3px

// Main
#main
  padding: 2em 3em 3em
  color = !main_color
  background-color = !main_bg_color
  h1
    margin-bottom: 30px
    font-size: 1.6em
    font-weight: normal
    span
      border-bottom: 1px solid
  p
    margin-bottom: 12px
  a
    color = !main_color + #777
  .footer
    margin-top: 24px
    a
      margin-right: 12px
      background-color= !main_bg_color - #111
  
  .pagination
    margin: 12px 0 0 6px

input.currency
  width: 5em

// Search form
form.search
  margin-bottom: 12px
  fieldset
    padding: 0 0 12px 0
    border: none
  label
    margin-right: 3px
  ul
    list-style: none
    padding: 0
  li
    display: inline
    margin-left: 12px
  li:first-child
    margin-left: 0

form.search, form.edit_ledger_item
  input[type="text"]
    width: 200px
    border: 1px solid #999
    padding: 1px

input.ac_input
  border: 1px solid #999
  padding: 1px
  
// New ledger item form
form#new_ledger_item

  th
    font-weight: normal
    text-align: left
  
  td
    padding:
      bottom: 1em
      right: 0.4em
  
  td:last-child
    padding-right: 0
    
  input[type=text], textarea
    border: 1px solid #999
  
  input[type=text]
    width: 100px
  
.labeled
  color: #bbb

//Cart of pending matches
#cart
  margin-bottom: 36px
  
  form
    float: left
    margin-right: 2em
  
// Footer
#footer
  padding: 0.5em 3em
  a
    color = !color + #222

// Flash messages
#flash_success, #flash_failure
  width: 60%
  padding: 0.5em
  margin-bottom: 1em
  color: #000
#flash_success
  background-color: #cfc
  border: solid 2px #6C6
#flash_failure
  background-color: #fcc
  border: solid 2px #C66

// Error element in forms
#errorExplanation
  width: 400px
  border: 2px solid #cf0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 8px

  ul
    margin: 2px 24px
    
    li
      font-size: 12px
      list-style: disc

// Tables
table
  border-collapse: collapse
  a
    margin-right: 9px
    &:last-child
      margin-right: 0
  &.data
    tr
      &.even
        background-color: #eaeaea
    td
      vertical-align: top
    td.currency
      text-align: right
    td, th
      border: 1px solid #ddd
      padding: 9px 6px
      text-align: left
    tfoot
      font-weight: bold
      td
        border: none
  &.report
    tr
      vertical-align: top
    tr.root_account
      font-weight: bold
      +large-font
      td
        padding-bottom: 0.25em
    tr.root_sum, tr.net
      font-weight: bold
      border-top: 1px solid #000
      td:first-child
        padding-left: 1em
        padding-bottom: 0.5em
    tr.descendant
      td:first-child
        padding-left: 1em
    td:first-child
      width: 450px
    td.currency
      text-align: right