!left_col_width = 10em
!input_width = 5em

form.formtastic
  fieldset
    ol
      li
        width: 25em
        clear: both
        border: 1px solid black
        
        label
          border: 1px solid black
        
        
        &.string input, &.password input, &.numeric input, &.text textarea, &.select input.ac_input
          width =  !input_width
          padding: 0.2em
          border: 1px solid #ccc
        label
          width = !left_col_width
        fieldset
          ol
            padding-left = !left_col_width
        p
          &.inline-errors
            margin-left = !left_col_width
          &.inline-hints
            margin-left = !left_col_width
            font-size: 0.8em
        ul.errors
          margin-left = !left_col_width
      li.boolean
        label
          padding-left = !left_col_width
    &.buttons
      padding-left = !left_col_width