* {
  margin: 0; }

body, html {
  height: 100%; }

body {
  font-family: Helvetica, Arial;
  font-size: 20px;
  color: #475159;
  background-color: #dddddd; }

a img {
  border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.highlight {
  background-color: #ffc; }

.underline {
  text-decoration: underline; }

.large {
  font-size: 1.25em; }

.small {
  font-size: 0.8em; }

.smaller {
  font-size: 0.7em; }

.fieldWithErrors {
  display: inline; }

#header {
  position: relative;
  padding: 0.8em 3em 0.2em;
  background-color: #555555; }
  #header h1 {
    color: #eeeeee;
    font-size: 2.8em;
    font-weight: normal; }
    #header h1 a {
      color: #eeeeee;
      text-decoration: none; }

#nav {
  position: absolute;
  bottom: 0;
  right: 1.5em;
  font-size: 0.8em;
  padding: 0.4em 1em;
  background-color: #333333;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px; }
  #nav a {
    color: #f2f2f2;
    margin-right: 6px;
    padding: 6px 3px;
    text-decoration: none; }
  #nav .current {
    color: #aeaeae;
    margin-right: 6px;
    padding: 6px 3px; }

#main {
  padding: 2em 3em 3em;
  color: black;
  background-color: #f2f2f2; }
  #main h1 {
    margin-bottom: 30px;
    font-size: 1.6em;
    font-weight: normal; }
    #main h1 span {
      border-bottom: 1px solid; }
  #main p {
    margin-bottom: 12px; }
  #main a {
    color: #777777; }
  #main .footer {
    margin-top: 24px; }
    #main .footer a {
      margin-right: 12px;
      background-color: #e1e1e1; }
  #main .pagination {
    margin: 12px 0 0 6px; }

input.currency {
  width: 5em; }

form.search {
  margin-bottom: 12px; }
  form.search fieldset {
    padding: 0 0 12px 0;
    border: none; }
  form.search label {
    margin-right: 3px; }
  form.search ul {
    list-style: none;
    padding: 0; }
  form.search li {
    display: inline;
    margin-left: 12px; }
  form.search li:first-child {
    margin-left: 0; }
  form.search input[type="text"] {
    width: 200px;
    border: 1px solid #999;
    padding: 1px; }
  form.search input[type="text"].ac_input {
    width: 120px; }

form#new_ledger_item th {
  font-weight: normal;
  text-align: left; }
form#new_ledger_item td {
  padding-bottom: 1em;
  padding-right: 0.4em; }
form#new_ledger_item td:last-child {
  padding-right: 0; }
form#new_ledger_item input[type=text], form#new_ledger_item textarea {
  border: 1px solid #999; }
form#new_ledger_item input[type=text] {
  width: 100px; }

.labeled {
  color: #bbb; }

#cart {
  margin-bottom: 36px; }
  #cart form {
    float: left;
    margin-right: 2em; }

#footer {
  padding: 0.5em 3em; }
  #footer a {
    color: #69737b; }

#flash_success, #flash_failure {
  width: 60%;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #000; }

#flash_success {
  background-color: #cfc;
  border: solid 2px #6C6; }

#flash_failure {
  background-color: #fcc;
  border: solid 2px #C66; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

table {
  border-collapse: collapse; }
  table a {
    margin-right: 9px; }
    table a:last-child {
      margin-right: 0; }
  table.data tr.even {
    background-color: #eaeaea; }
  table.data td {
    vertical-align: top; }
  table.data td.currency {
    text-align: right; }
  table.data td, table.data th {
    border: 1px solid #ddd;
    padding: 9px 6px;
    text-align: left; }
  table.data tfoot {
    font-weight: bold; }
    table.data tfoot td {
      border: none; }
  table.report tr.root_account {
    font-weight: bold;
    font-size: 1.25em; }
    table.report tr.root_account td {
      padding-bottom: 0.25em; }
  table.report tr.root_sum, table.report tr.net {
    font-weight: bold;
    border-top: 1px solid #000; }
    table.report tr.root_sum td:first-child, table.report tr.net td:first-child {
      padding-left: 1em;
      padding-bottom: 0.5em; }
  table.report tr.descendant td:first-child {
    padding-left: 1em; }
  table.report td:first-child {
    width: 450px; }
  table.report td.currency {
    text-align: right; }
