form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea, form.formtastic fieldset ol li.select input.ac_input {
  width: 300px;
  padding: 1px;
  border: 1px solid #999; }
form.formtastic fieldset ol li label {
  width: 180px; }
form.formtastic fieldset ol li fieldset ol {
  padding-left: 180px; }
form.formtastic fieldset ol li p.inline-errors {
  margin-left: 180px; }
form.formtastic fieldset ol li p.inline-hints {
  margin-left: 180px;
  font-size: 0.8em; }
form.formtastic fieldset ol li ul.errors {
  margin-left: 180px; }
form.formtastic fieldset ol li.boolean label {
  padding-left: 180px; }
form.formtastic fieldset.buttons {
  padding-left: 180px; }
