- title 'Bookkeeper'

.intro
  %p
    Bookkeeper is a minimal accounting application.
  %p
    = link_to('Log in', new_user_session_path)
    or
    = link_to('browse source.', 'http://github.com/snl/bookkeeper')
  