- title "Bookkeeper", false

%p.large
  Bookkeeper is a minimal accounting application.
%p.large
  = "Browse #{link_to "source", "http://github.com/snl/bookkeeper"}, #{link_to "features", "/features.html"}, and #{link_to "specs", "/specs.html"}."