- title 'Contacts'

- content_for :actions do
  %li= link_to 'Create contact', new_contact_path

- if @contacts.size > 0
  %table
    %tbody
      = render :partial => 'contact', :collection => @contacts
  = will_paginate(@contacts, :inner_window => 2, :class => 'pagination')
- else
  %p No contacts found