- title resource.name

%p @/ TODO display summary info

.footer
  = link_to "Edit", edit_resource_path(resource)
  = link_to "Delete", resource_path(resource), :confirm => 'Are you sure?', :method => :delete
  = link_to "Back to List", collection_path