- title 'Contact Details'

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to('Edit contact', edit_contact_path(@contact))
      %li= link_to('Delete contact', @contact, :confirm => 'Are you sure?', :method => :delete)
.block
  .content
    %h2.title
      = @contact.name
    .inner
      - if @contact.city || @contact.country
        %p
          - formatted_address(@contact)
