- semantic_form_for resource do |f| 
  = f.error_messages
  - f.inputs do 
    - # TODO Refactor below select element into formtastic
    %li
      = f.label(:parent_id, t("formtastic.labels.ledger_account.parent_id") + '<abbr title="required">*</abbr>')
      - tree_select(LedgerAccount.roots, resource.class.to_s.underscore, "parent_id", resource)
    = f.input :name, :input_html => { :size => 30 }
    - f.buttons do
      = f.commit_button :button_html => { :value => t('formtastic.labels.ledger_account.commit') }