%h1
  %span Matches
  
.cart
  %table.data
    %thead
      %tr
        %th.small
          Account
        %th.small
          Sender
        %th.small
          Recipient
        %th.small
          Date
        %th.small
          Total
        %th.small
          Tax
    %tfoot
      %tr
        %td.smaller
          = link_to "Discard all", empty_cart_path
          - if @cart.balance == 0
            = link_to "Reconcile", save_cart_path
    %tbody
      = render(:partial => "carts/ledger_item", :collection => cart.ledger_items)
= javascript_tag "ajaxLinks()"