- title 'Match'

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to 'Delete match', @match, :confirm => 'Are you sure you wish to delete this match?', :method => :delete

- if @match.ledger_items.size > 0
  %table
    %tbody
      = render :partial => 'ledger_items/ledger_item', :collection => @match.ledger_items
- else
  %p No transactions found