- title 'Mappings'

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to "Create new mapping", new_mapping_path

#block-tables.block
  .content
    %h2.title List of mappings
    .inner
      - if @mappings.size > 0
        %table.table
          %tr
            %th.first Name
            %th Currency
            %th Date
            %th Total Amount
            %th Tax Amount
            %th Description
            %th 2nd Description
            %th Has Title
            %th Day Follows Month
            %th Reverses Sign
            %th.last
          = render @mappings
        .actions-bar.wat-cf
          = will_paginate(@mappings, :inner_window => 2, :class => 'pagination')
      - else
        %p No mappings found
