- title 'New mapping'

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to "View mappings", mappings_path

#block-tables.block
  .content
    %h2.title New mapping
    .inner
      = render :partial => "form"