- title resource.name

#ledger_person
  %p @/ TODO display summary info on account
  %footer
    = link_to "Edit", edit_resource_url(resource)
    = link_to "Destroy", resource_url(resource), :confirm => 'Are you sure?', :method => :delete
    = link_to "View all ledger people", collection_url