- title "Edit Rule for #{@account.name}"

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to "View rules", account_rules_path

#block-tables.block
  .content
    %h2.title Edit Rule for #{@account.name}
    .inner
      = render :partial => "form"