- title "Rule"

%p
  %strong Matched Description:
  =h @rule.matched_description
%p
  %strong Matched Debit:
  = @rule.matched_debit
%p
  %strong Matched Sender
  =h @rule.matched_sender.name if @rule.matched_sender
%p
  %strong Matched Recipient
  =h @rule.matched_recipient.name if @rule.matched_recipient
%p
  %strong New Sender
  =h @rule.new_sender.name if @rule.new_sender
%p
  %strong New Recipient
  =h @rule.new_recipient.name if @rule.new_recipient
%p
  %strong New Account:
  =h @rule.new_account.name

.buttons
  = link_to "Edit", edit_resource_path
  = link_to "Delete", resource_path, :confirm => 'Are you sure?', :method => :delete
  = link_to "View all", collection_path