-title "Login", false

- semantic_form_for @user_session, :url => user_session_url do |f| 
  - f.inputs do 
    = f.input :login, :input_html => { :size => 30 }
    = f.input :password, :input_html => { :size => 30 }
    - f.buttons do
      = f.commit_button :button_html => { :value => t('formtastic.labels.user_session.create') }