- if child.grand_total_for?(params[:contact], params[:since], params[:till])
  %tr.descendant
    %td
      - ((child.depth - 1) * 2).times do
        &nbsp;
      =h child.name
    - if child.total_for?(params[:contact], params[:since], params[:till])
      %td.currency
        - child.total_for(params[:contact], params[:since], params[:till]).each_pair do |currency, total|
          = monetize(total.abs, currency)
          %br
  = render :partial => "child", :collection => child.children