- title 'Accounts'

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to 'Create a new account', new_account_path

#block-lists.block
  .content
    %h2.title List of accounts
    .inner
      - tree_ul(@accounts) { |account| link_to(account.name, account) }